{% extends "base.html" %}

{% block head %}
    <title>Dashboard</title>
{% endblock head %}

{% block content %}
	<div id="content">
		<div class="container">
			<div id="list-columns">
					<div class="title-block">
						<p>Choose your language</p>
					</div>
                    {% for language in languages %}
                        <div class="columns-2">
                            <ul class="price">
                                <li class="header"><a href="/language/{{ language.language_name }}">{{ language.language_name }}</a></li>
                                <li>{{ language.language_describe }}</li>
                            </ul>
                        </div>
                    {% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}